.custom-scroll-list-row-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .custom-scroll-list-row-container.active {
    background-color: #404040;
} */

.custom-scroll-list-row-container:hover {
    background-color: #424242;
    transform: scale(1.01, 1.05);
}

.custom-scroll-list-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #2b2b2b;
    cursor: pointer;
    color: whitesmoke;
}

.custom-scroll-list-row-container.active .custom-scroll-list-row {
    color: grey;
}

.custom-scroll-list-row:hover {
    border-width: 0;
}

.custom-scroll-list-row-checkbox {
    width: 110px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-scroll-list-row-cells {
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
}

.custom-scroll-list-row-cell {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

/* transtions */

.custom-scroll-list-row-appear,
.custom-scroll-list-row-enter {
    opacity: 0;
    /* transform: translateX(-20px); */
}

.custom-scroll-list-row-appear.custom-scroll-list-row-appear-active,
.custom-scroll-list-row-enter.custom-scroll-list-row-appear-enter {
    opacity: 1;
    /* transform: translateX(0); */
    transition: opacity 500ms ease-in;
}