.custom-scroll-list {
    width: 100%;
    height: calc(100% - 60px);
    min-height: 300px;
    overflow: auto;
}

.custom-scroll-container {
    position: relative;
}

.custom-scroll-list,
.custom-scroll-container {
    background-color: #4e4e50;
}