.toggle-button {
    background-color: #bf382f;
    border: none;
    color: whitesmoke;
    border-radius: 3px;
    box-sizing: border-box;
    width: 95%;
    height: 24px;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button.active {
    background-color: #8bb8d8;
    /* border: 1px solid #dc3226; */
    color: black;
}